<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Sendfile</title>
</head>
<body>


<label for="your_name">File name: </label>
<input id="your_name" type="text" name="your_name" maxlength="100" required>

<form action="/img_searches/" method="post" enctype='multipart/form-data'>
    <br/>
    <input type="file"
       id="file" name="file"
       accept="image/png, image/jpeg">
    <br/>
    <button type="submit" name="button" value="pointless" class="btn-link">Go</button>
    <br/>
{% csrf_token %}
</form>


</body>
</html>